/* cinzel-decorative-regular - latin */
@font-face {
  font-family: "Cinzel Decorative";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/cinzel-decorative-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/cinzel-decorative-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cinzel-decorative-700 - latin */
@font-face {
  font-family: "Cinzel Decorative";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/cinzel-decorative-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/cinzel-decorative-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cinzel-decorative-900 - latin */
@font-face {
  font-family: "Cinzel Decorative";
  font-style: normal;
  font-weight: 900;
  src: local(""),
    url("../fonts/cinzel-decorative-v14-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/cinzel-decorative-v14-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* zilla-slab-regular - latin */
@font-face {
  font-family: "Zilla Slab";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/zilla-slab-v11-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/zilla-slab-v11-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* zilla-slab-500 - latin */
@font-face {
  font-family: "Zilla Slab";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/zilla-slab-v11-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/zilla-slab-v11-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* zilla-slab-italic - latin */
@font-face {
  font-family: "Zilla Slab";
  font-style: italic;
  font-weight: 400;
  src: local(""),
    url("../fonts/zilla-slab-v11-latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/zilla-slab-v11-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* zilla-slab-500italic - latin */
@font-face {
  font-family: "Zilla Slab";
  font-style: italic;
  font-weight: 500;
  src: local(""),
    url("../fonts/zilla-slab-v11-latin-500italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/zilla-slab-v11-latin-500italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* zilla-slab-700italic - latin */
@font-face {
  font-family: "Zilla Slab";
  font-style: italic;
  font-weight: 700;
  src: local(""),
    url("../fonts/zilla-slab-v11-latin-700italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/zilla-slab-v11-latin-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* zilla-slab-700 - latin */
@font-face {
  font-family: "Zilla Slab";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/zilla-slab-v11-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/zilla-slab-v11-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
