h1 {
	font-size: clamp(3.4rem, 17.1vw - 1.2rem, 8rem);
}

.div0 {
	background-image: url(./img/MraArquitectura.png);
}

.div1 {
	background-image: url(./img/RosenstiehlGuitarsShop.png);
}

.div2 {
	background-image: url(./img/LoremIpsumDocumentation.png);
}

.div3 {
	background-image: url(./img/SurveyOfCoolnesss.png);
}

.div4 {
	background-image: url(./img/ArturoRebolledo.png);
}

.div5 {
	background-image: url(./img/Biography.png);
}

.div6 {
	background-image: url(./img/realState.png);
}

.div7 {
	background-image: url(./img/socialU.png);
}

.x-pattern {
	background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%2396a6b8' fill-opacity='0.63' fill-rule='evenodd'/%3E%3C/svg%3E");
}

:root {
	--bs-body-bg-rgb: 255, 255, 255;
	--bs-primary-rgb: 29, 13, 253;
	--bd-accent-rgb: 226, 41, 41;
	--bd-violet-rgb: 112.520718, 44.062154, 249.437846;
	--bd-pink-rgb: 214, 51, 132;
}

.dark body {
	--bs-body-bg-rgb: 1, 4, 29;
}

.skljfs {
	--primary: rgb(60, 32, 163);
	--secundary: rgb(226, 41, 41);
}

.bg-gradiente {
	background-image: linear-gradient(
			180deg,
			rgba(var(--bs-body-bg-rgb), 0.01),
			rgba(var(--bs-body-bg-rgb), 1) 85%
		),
		radial-gradient(
			ellipse at top left,
			rgba(var(--bs-primary-rgb), 0.5),
			transparent 50%
		),
		radial-gradient(
			ellipse at top right,
			rgba(var(--bd-accent-rgb), 0.5),
			transparent 50%
		),
		radial-gradient(
			ellipse at center right,
			rgba(var(--bd-violet-rgb), 0.5),
			transparent 50%
		),
		radial-gradient(
			ellipse at center left,
			rgba(var(--bd-pink-rgb), 0.5),
			transparent 50%
		);
}

.button-glass:hover {
	/* From https://css.glass */
	background: rgba(36, 87, 253, 0.24) !important;
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
	backdrop-filter: blur(5.5px) !important;
	-webkit-backdrop-filter: blur(5.5px) !important;
	border: 1px solid rgba(88, 20, 225, 0.356);
}

.bg-glass {
	/* From https://css.glass */
	background: rgba(36, 85, 253, 0.13);
	/* border-radius: 16px; */
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.8px);
	-webkit-backdrop-filter: blur(6.8px);
	border: 1px solid rgba(36, 85, 253, 0.05);
}

.art-button {
	/* From https://css.glass */
	/* From https://css.glass */
	background: #080140e0;
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(6.5px);
	border: 1px solid rgba(8, 1, 64, 0.3);
}

.article:hover .art-button {
	animation-name: levitating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes levitating {
	0% {
		transform: translate(0, 0px);
	}

	50% {
		transform: translate(0, 8px);
	}

	100% {
		transform: translate(0, -0px);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--bs-body-bg-rgb: 1, 4, 29;
	}
}

@media (min-width: 768px) {
	.md\:m-0 {
		margin: 0px;
	}
}
