<footer
    class="flex flex-col p-2 text-lg italic font-normal border-t-8 border-dark-blue x-pattern bg-hueso dark:bg-deep-blue">
    <!-- <p class="mx-7 text-gray-400">
      For the projects of the HTML and CSS course in
      <a href="https://freecodecamp.com" class="hover:gray-200">FreeCodeCamp.org</a>
    </p> -->
    <h4 class="block mx-auto mt-3 text-gray-600">
      ©2022 <span class="font-bold text-red-400">Arturo2R</span> Initially made in
      <qua class="text-yellow-400">Quarantine</qua>
    </h4>
  </footer>