<section id="welcome-section" class="flex w-full min-h-screen bg-gradiente">
  <div class="flex-row place-self-center mx-auto my-auto text-center">
    <h1
      class="no-h1  md:leading-[128px]  animate__animated animate__fadeInDown text-royal-red dark:text-hueso font-primary">
      Arturo<br> Rebolledo
    </h1>
    <p
      class="text-3xl italic font-thin animate__animated animate__fadeIn text-normal text-dark-blue dark:text-royal-red">
      Web Developer
    </p>
  </div>
</section>